<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.annotation.utils.duojicaidang.entities.mapper.NodParentSonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.annotation.utils.duojicaidang.entities.entity.NodParentSon">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="sid" property="sid" />
        <result column="id_name" property="idName" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, sid, id_name, category_id
    </sql>

</mapper>
